@mixin mediaQuery($width: 460px){
    @media screen  and (min-width:$width){
      @content;
    }
  }
  @mixin gridEven($cols: 1, $gap: 1rem) {
    display: grid; //constant
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
  }
  
  @mixin gridUneven($cols, $gap: 1rem) {
    display: grid;
    grid-template-columns: $cols;
    grid-gap: $gap;
  } 
  
  @mixin centerAll() {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @mixin titleCss(){
    &__title{
      text-align: center;
      h2{
          padding-bottom: 3rem;
          @include mediaQuery($break-lg){
              font-size: 4rem;
          }
      }
      p{
          font-size: 1.9rem;
          padding: 0 2rem 5rem 2rem;
          color: $clr-hometext;
          br{
              display: none;
              @include mediaQuery($break-lg){
                  display: block;
              }
          }
      }
  }
  }
  