/*colors*/
/*breakpoints*/
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@font-face {
  font-family: Livvicthin;
  src: url(../Livvic/Livvic-Thin.ttf);
}
@font-face {
  font-family: LivvicExtraLight;
  src: url(../Livvic/Livvic-ExtraLight.ttf);
}
@font-face {
  font-family: LivvicLight;
  src: url(../Livvic/Livvic-Light.ttf);
}
@font-face {
  font-family: LivvicMedium;
  src: url(../Livvic/Livvic-Medium.ttf);
}
@font-face {
  font-family: LivvicBold;
  src: url(../Livvic/Livvic-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #0A0A0A;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Livvic", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #0A0A0A;
  overflow-x: hidden;
}
body .footer {
  margin-top: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.btn {
  background: 14B1BB;
  background-image: linear-gradient(to bottom, 14B1BB, 14B1BB);
  border-radius: 50px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-size: 18px;
  background: #14B1BB;
  padding: 15px 25px;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
}
.btn.bg--light {
  color: #14B1BB;
  background: #ffffff;
  border-color: #14B1BB;
  transition: 0.5s ease;
}
.btn.bg--light:hover {
  background: #14B1BB;
  color: #ffffff;
  transition: 0.5s ease;
}
.btn.bg--primary {
  color: #ffffff;
  background-color: #14B1BB;
  transition: 0.5s ease;
}
.btn.bg--primary:hover {
  background: #38898d;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/slider3.jpg");
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 760px) {
  .footer_wrapper {
    flex-direction: row;
  }
}
.footer .column {
  margin: 5rem 1rem 1rem 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: LivvicLight;
  font-weight: 500;
}
@media screen and (min-width: 760px) {
  .footer .column {
    flex-wrap: wrap;
    width: 50%;
  }
  .footer .column:nth-of-type(2) {
    text-align: left;
  }
  .footer .column:nth-of-type(3) .contact_icons {
    margin-bottom: 5rem 0rem;
  }
  .footer .column:nth-of-type(3) .contact_icons .contact_iconings {
    display: flex;
    flex-direction: row;
  }
  .footer .column:nth-of-type(3) .contact_icons .contact_iconings i {
    margin-right: 1rem;
  }
}
.footer .column .footer_text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #ffffff;
}
.footer .column .footer_text2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
}
.footer .column h4 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: LivvicMedium;
  letter-spacing: 1px;
}
.footer .column .socialistic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .column .socialistic i {
  font-size: 2rem;
  color: #ffffff;
  background-color: #38898d;
}
.footer .column .socialistic i:nth-of-type(1) {
  padding: 1rem 1.5rem;
}
.footer .column .socialistic i:nth-of-type(2) {
  padding: 1rem 1.1rem;
  margin-left: 1rem;
}
.footer .column .socialistic i:nth-of-type(3) {
  padding: 1rem 1.2rem;
  margin-left: 1rem;
}
.footer .branding {
  font-family: LivvicBold;
  font-size: 40px;
  color: #14B1BB;
  transition: 0.3s ease;
  align-items: center;
}
.footer .branding p {
  align-items: center;
}
.footer .branding .colorchanger {
  transition: 0.3s ease;
  color: #ffffff;
}
.footer .contact_icons .contact_iconings {
  margin-bottom: 1rem;
}
.footer .contact_icons i {
  color: #ffffff;
  font-size: 2rem;
}
.footer .contact_icons p {
  color: white;
  font-size: 1.9rem;
}
.footer a {
  color: white;
  font-size: 1.9rem;
  font-family: LivvicExtralight;
  font-weight: 600;
}
.footer .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer input {
  border: 1px solid #ffffff;
  align-items: baseline;
  padding: 1rem 2rem;
  background: transparent;
  width: 100%;
  font-family: LivvicLight;
  font-size: 1.9rem;
  color: white;
}
.footer .submit {
  display: flex;
  justify-content: baseline;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: baseline;
  font-family: LivvicBold;
  margin-bottom: 5rem;
}
.footer .submit input {
  border-color: #14B1BB;
  margin-top: 4rem;
  width: auto;
  border-radius: 5px;
  font-size: 1.7rem;
}
.footer .submit input:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #14B1BB;
}
.footer .footer_footer {
  border-top: 1px solid #8C8C8C;
  width: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: LivvicLight;
  color: white;
}
.footer .footer_footer p {
  margin-top: 2rem;
}
.footer .footer_footer .home_contact {
  display: flex;
  flex-direction: row;
}
.footer .footer_footer .home_contact a {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-family: LivvicLight;
  font-weight: 500;
  margin-top: 1rem;
}

.contact_summary {
  display: none;
  background-color: #14B1BB;
}
@media screen and (min-width: 760px) {
  .contact_summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 13.6px;
  }
}
.contact_summary .address {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: LivvicMedium;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.contact_summary .socials {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
}

.header {
  width: 100%;
  background: #ffffff;
  z-index: 999;
  transition: 0.3s ease;
}
.header .branding {
  font-family: LivvicBold;
  font-size: 40px;
  color: #14B1BB;
  transition: 0.3s ease;
}
.header .branding .colorchanger {
  transition: 0.3s ease;
  color: #0A0A0A;
}
@media screen and (min-width: 760px) {
  .header {
    transition: 0.3s ease;
  }
  .header.blue {
    background-color: hsla(0, 0%, 0%, 0.733);
    position: fixed;
    top: 0;
    transition: 0.3s ease;
  }
  .header.blue .branding {
    color: #14B1BB;
    opacity: 1;
  }
  .header.blue .branding .colorchanger {
    color: #ffffff;
  }
  .header.blue .header_nav_links a {
    color: white;
  }
}
.header .kamote {
  pointer-events: none;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #0A0A0A;
  transition: 0.5s ease-in;
  z-index: -1;
}
.header .kamote.open {
  position: fixed;
  opacity: 0.8;
  transition: 0.5s ease-out;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 760px) {
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
  }
}
.header_wrapper .branding {
  z-index: -2;
}
.header_nav {
  position: fixed;
  right: -80rem;
  height: 100vh;
  top: 0.1px;
  width: 70%;
  transition: 0.5s ease;
  font-family: LivvicMedium;
  font-size: 17px;
  background-color: white;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .header_nav {
    background-color: transparent;
    font-family: LivvicLight;
    align-items: center;
    height: 9vh;
    position: unset;
    width: 100%;
  }
}
.header_nav_links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 20px;
  padding-top: 10px;
}
.header_nav_links img {
  margin-bottom: 2rem;
}
.header_nav_links i {
  display: none;
}
@media screen and (min-width: 760px) {
  .header_nav_links {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    font-weight: 600;
    position: unset;
    justify-content: space-between;
    gap: 20px;
  }
  .header_nav_links .looblogo {
    display: none;
  }
  .header_nav_links i {
    display: block;
  }
}
.header_nav_links a {
  margin: 2rem;
}
@media screen and (min-width: 760px) {
  .header_nav_links a {
    margin: 2rem 2rem 0rem 0rem;
  }
}
.header_nav_links a:nth-child(3):after {
  content: "+";
  position: absolute;
  left: 200px;
}
@media screen and (min-width: 760px) {
  .header_nav_links a:nth-child(3):after {
    content: "";
  }
}
.header_nav_links:nth-child(3):hover_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_nav_links_page {
  display: none;
}
.header_nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
.header_nav.open .body {
  filter: blur(5px);
}
.header .burgelo {
  position: fixed;
  left: 44rem;
}
.header .burgelo span {
  width: 2.3rem;
  height: 0.4rem;
  background-color: #0A0A0A;
  display: block;
  border-radius: 5rem;
  transition: 0.4s ease;
}
.header .burgelo span:nth-child(2) {
  margin: 0.2rem 0;
}
@media screen and (min-width: 760px) {
  .header .burgelo span {
    display: none;
  }
}
.header .burgelo .span {
  width: 1rem;
  height: 0.1rem;
  background-color: #0A0A0A;
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header .burgelo .span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .burgelo.open span:first-child {
  transform: translate(0, 11px) rotate(225deg);
  transition: 0.5s ease;
}
.header .burgelo.open span:nth-child(2) {
  opacity: 0;
}
.header .burgelo.open span:last-child {
  transform: translate(0, -1px) rotate(-225deg);
  transition: 0.5s ease;
}

.body {
  font-family: "Livvic";
}

.homeBanner {
  position: relative;
  padding-bottom: 6rem;
}
.homeBanner__wrapper .homeBanner__item {
  position: relative;
  overflow: hidden;
}
.homeBanner__wrapper .homeBanner__item img {
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 1rem;
}
.homeBanner__wrapper .homeBanner__item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease;
  height: 55rem;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text {
    height: 80vh;
    text-align: start;
  }
}
.homeBanner__wrapper .homeBanner__item--text h2 {
  padding-bottom: 4rem;
  font-weight: 600;
  font-size: 2.5rem;
}
.homeBanner__wrapper .homeBanner__item--text h2 br {
  display: none;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text h2 br {
    display: block;
  }
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text h2 {
    font-size: 7rem;
  }
}
.homeBanner__wrapper .homeBanner__item--text p {
  color: #7a7a7a;
  padding-bottom: 7rem;
  font-size: 1.8rem;
}
.homeBanner__wrapper .homeBanner__item--text p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text p br {
    display: block;
  }
}
.homeBanner__wrapper .homeBanner__item--text a {
  font-size: 1.8rem;
}
.homeBanner__wrapper .homeBanner__item--text .btnprime {
  padding: 1.5rem 3rem;
  color: #ffffff;
  background-color: #14B1BB;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  font-weight: 500;
}
.homeBanner__wrapper .homeBanner__item--text .btnprime:hover {
  transition: 0.5s ease;
  background-color: #38898d;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text .btnprime {
    padding: 2rem 4rem;
  }
}
.homeBanner__wrapper .homeBanner__item--text .btnblack {
  padding: 1.5rem 3rem;
  color: #ffffff;
  background-color: black;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  font-weight: 500;
}
.homeBanner__wrapper .homeBanner__item--text .btnblack:hover {
  transition: 0.5s ease;
  background-color: #14B1BB;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text .btnblack {
    padding: 2rem 4rem;
  }
}
.homeBanner__wrapper .homeBanner__item--text div {
  display: flex;
  align-items: center;
}
.homeBanner__wrapper .homeBanner__item--text div .video-play-button {
  position: absolute;
  z-index: 10;
  top: 41.5rem;
  left: 23rem;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .homeBanner__item--text div .video-play-button {
    top: 52.5rem;
    left: 52rem;
  }
}
.homeBanner__wrapper .homeBanner__item--text div .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 45px;
  height: 45px;
  background: #14B1BB;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.homeBanner__wrapper .homeBanner__item--text div .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 45px;
  height: 45px;
  background: #14B1BB;
  border-radius: 50%;
  transition: all 200ms;
}
.homeBanner__wrapper .homeBanner__item--text div .video-play-button:hover:after {
  background-color: #0f858d;
}
.homeBanner__wrapper .homeBanner__item--text div .video-play-button i {
  z-index: 3;
  position: relative;
  text-align: center;
  left: -3px;
  top: 11px;
  font-size: 2rem;
  color: #ffffff;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}
.homeBanner__wrapper .homeBanner__item.firstban {
  background: url(../img/slider-1.jpg);
  background-position: center;
}
.homeBanner__wrapper .homeBanner__item.secban {
  background: url(../img/slider3.jpg);
  background-position: center;
}
.homeBanner__wrapper .tns-outer button {
  display: none;
}
.homeBanner__wrapper i {
  display: none;
  font-size: 4rem;
  position: absolute;
  transition: 0.5s ease;
}
.homeBanner__wrapper i:hover {
  background-color: white;
  padding: 1rem;
  color: #14B1BB;
  transition: 0.5s ease;
}
.homeBanner__wrapper .fa-chevron-right {
  top: 21rem;
  left: 45rem;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .fa-chevron-right {
    top: 39rem;
    left: 169rem;
  }
}
.homeBanner__wrapper .fa-chevron-left {
  top: 21rem;
  left: 1rem;
}
@media screen and (min-width: 980px) {
  .homeBanner__wrapper .fa-chevron-left {
    top: 39rem;
  }
}
.homeBanner__wrapper .homeBanner__item.secban.tns-item.tns-slide-active i {
  display: block;
}
.homeBanner__wrapper .homeBanner__item.firstban.tns-item.tns-slide-active i {
  display: block;
}

.feature {
  padding-bottom: 5rem;
}
.feature .feature__wrapper {
  text-align: center;
}
.feature .feature__wrapper h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 980px) {
  .feature .feature__wrapper h2 {
    font-size: 4rem;
  }
}
.feature .feature__wrapper .title-text {
  color: #7a7a7a;
  padding-bottom: 7rem;
  font-size: 1.9rem;
}
.feature .feature__wrapper .title-text br {
  display: none;
}
@media screen and (min-width: 980px) {
  .feature .feature__wrapper .title-text br {
    display: block;
  }
}
.feature .feature__wrapper .feature__cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 980px) {
  .feature .feature__wrapper .feature__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.flip-card {
  background-color: transparent;
  width: 47rem;
  height: 41rem;
  perspective: 1000px;
}
@media screen and (min-width: 980px) {
  .flip-card {
    width: 37rem;
  }
}
.flip-card a {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.5s ease;
}
.flip-card a:hover {
  background-color: #ffffff;
  color: #14B1BB;
  transition: 0.5s ease;
}
.flip-card p {
  padding: 0 2rem 3rem 2rem;
  font-size: 1.8rem;
}
.flip-card h3 {
  font-size: 2.5rem;
  padding: 1.5rem 0;
  font-weight: 600;
}
.flip-card i {
  font-size: 6rem;
}
.flip-card h3:hover {
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #14B1BB;
  color: white;
}
.flip-card-back {
  background-color: #38898d;
  color: white;
  transform: rotateX(180deg);
}
.flip-card-text {
  padding: 2rem;
}

.different {
  padding-bottom: 13rem;
}
.different .meet__slider {
  padding-bottom: 3rem;
}
.different .meet__slider img {
  height: 45rem;
}
@media screen and (min-width: 980px) {
  .different .meet__slider img {
    height: 52rem;
    width: 47rem;
  }
}
@media screen and (min-width: 980px) {
  .different__why {
    padding: 0 3rem;
  }
}
.different__why h2 {
  padding-bottom: 4rem;
}
@media screen and (min-width: 980px) {
  .different__why h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
}
.different__why .why__wrap {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
@media screen and (min-width: 980px) {
  .different__why-item {
    display: flex;
    gap: 1.5rem;
    padding-top: 2rem;
  }
}
.different__why-item i {
  font-size: 4rem;
  color: #14B1BB;
}
.different__why-item p {
  font-size: 2rem;
}
.different__why-item h3 {
  font-size: 2rem;
  font-weight: 600;
}
.different .progress {
  padding-top: 4rem;
  width: 100%;
  max-width: 55rem;
}
.different .progress-label {
  display: flex;
  gap: 35.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}
@media screen and (min-width: 980px) {
  .different .progress-label {
    gap: 45.5rem;
  }
}
.different .progress-bar {
  width: 45rem;
  background-color: #d8d8d8;
  height: 0.5rem;
}
@media screen and (min-width: 980px) {
  .different .progress-bar {
    width: 100%;
  }
}
.different .progress-fill {
  height: 100%;
  width: 35rem;
  background-color: #00a7bd;
}
@media screen and (min-width: 980px) {
  .different .progress-fill {
    width: 50rem;
  }
}
.different__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 980px) {
  .different__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.different .tns-outer button {
  display: none;
}

.service {
  padding-bottom: 16rem;
}
.service__title {
  text-align: center;
}
.service__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .service__title h2 {
    font-size: 4rem;
  }
}
.service__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.service__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .service__title p br {
    display: block;
  }
}
.service__wrapper .service__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media screen and (min-width: 980px) {
  .service__wrapper .service__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.service__wrapper .service__cards .service__card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.service__wrapper .service__cards .service__card .card__wrap {
  padding: 7rem 2rem;
  z-index: 999;
}
.service__wrapper .service__cards .service__card .card__wrap i {
  font-size: 5rem;
  color: #14B1BB;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card .card__wrap h3 {
  font-size: 2.1rem;
  font-weight: 600;
  padding: 2rem 0;
}
.service__wrapper .service__cards .service__card .card__wrap p {
  font-size: 1.8rem;
  margin: 0 0 3rem 0;
}
.service__wrapper .service__cards .service__card .card__wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #8C8C8C;
  width: 16rem;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  font-size: 1.7rem;
}
.service__wrapper .service__cards .service__card .card__wrap a i {
  font-size: 2rem;
}
.service__wrapper .service__cards .service__card::before {
  width: 3px;
  height: 100%;
  background-color: #14B1BB;
  content: "";
  position: absolute;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover {
  color: white;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover a {
  color: #14B1BB;
  transition: 0.5s ease;
  background-color: #ffffff;
  border: white;
}
.service__wrapper .service__cards .service__card:hover a:hover {
  background-color: #38898d;
  color: #ffffff;
}
.service__wrapper .service__cards .service__card:hover .fa-solid.main, .service__wrapper .service__cards .service__card:hover .fa-regular {
  color: #ffffff;
  transition: 0.5s ease;
}

.portfolio {
  padding-bottom: 12rem;
}
.portfolio_title {
  text-align: center;
}
.portfolio_title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .portfolio_title h2 {
    font-size: 4rem;
  }
}
.portfolio_title p {
  font-size: 1.9rem;
  padding-bottom: 3rem;
  color: #7a7a7a;
}
.portfolio_tabs ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 4rem;
}
.portfolio_tabs ul span {
  font-size: 1.9rem;
  font-weight: 500;
}
.portfolio_tabs ul li {
  list-style: none;
  border: rgb(214, 214, 214) 1px solid;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}
.portfolio_tabs ul li:hover {
  background-color: #14B1BB;
  color: #ffffff;
  transition: 0.3s ease;
}
.portfolio_tabs ul li.active {
  background-color: #14B1BB;
  color: #ffffff;
}
.portfolio_content_item {
  display: none;
}
.portfolio_content_item.active {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 980px) {
  .portfolio_content_item.active {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.portfolio_item {
  width: 502px;
  height: 418.33px;
  animation: myAnim 2s ease 0s 1 normal forwards;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 980px) {
  .portfolio_item {
    width: 100%;
    height: 100%;
  }
}
.portfolio_item img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio_item .mask {
  width: 502px;
  height: 418.33px;
  background-color: rgba(20, 177, 187, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  top: 420px;
}
@media screen and (min-width: 980px) {
  .portfolio_item .mask {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 980px) {
  .portfolio_item .mask {
    top: 400px;
  }
}
.portfolio_item .mask i {
  font-size: 2.5rem;
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
}
.portfolio_item .mask i:hover {
  background-color: #14B1BB;
  transition: 0.5s ease;
  cursor: pointer;
}
.portfolio_item .mask p {
  font-size: 1.9rem;
}
.portfolio_item .mask p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .portfolio_item .mask p br {
    display: block;
  }
}
.portfolio_item .mask h2:hover {
  color: #38898d;
  transition: 0.5s ease;
  cursor: pointer;
}
.portfolio_item:hover .mask {
  top: 0px;
  transition: 1s ease;
}
.portfolio_item:hover img {
  scale: 1.1;
  transition: 0.5s ease;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.member {
  padding-bottom: 5rem;
}
.member_title {
  text-align: center;
}
.member_title h2 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 980px) {
  .member_title h2 {
    font-size: 3.5rem;
  }
}
.member_title p {
  font-size: 1.9rem;
  padding: 0 1rem 5rem 1rem;
  color: #7a7a7a;
}
.member_title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .member_title p br {
    display: block;
  }
}
.member .member__slider--item_content {
  text-align: center;
}
.member .member__slider--item_content h3 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 2rem;
}
.member .member__slider--item_content p {
  font-size: 1.7rem;
  color: #14B1BB;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.member .member__slider--item_content .imgWrap {
  width: 458px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 980px) {
  .member .member__slider--item_content .imgWrap {
    width: 347px;
    height: 378.81px;
  }
}
.member .member__slider--item_content .imgWrap img {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
@media screen and (min-width: 980px) {
  .member .member__slider--item_content .imgWrap img {
    width: 347px;
    height: 378.81px;
  }
}
.member .member__slider--item_content .imgWrap .socials {
  position: absolute;
  left: -152px;
  top: 451px;
  transition: 0.3s ease;
}
@media screen and (min-width: 980px) {
  .member .member__slider--item_content .imgWrap .socials {
    top: 329px;
  }
}
.member .member__slider--item_content .imgWrap .socials i {
  color: #ffffff;
  background-color: #0A0A0A;
  padding: 1.5rem;
  font-size: 1.9rem;
}
.member .member__slider--item_content .imgWrap:hover .socials {
  left: 1px;
  transition: 0.5s ease;
}
.member .tns-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.member .tns-nav button {
  background: #6df5ff;
  width: 1.8rem;
  height: 1.8rem;
  border: #6df5ff;
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .member .tns-nav button:nth-of-type(5), .member .tns-nav button:nth-of-type(6) {
    display: none;
  }
}
.member .tns-nav .tns-nav-active {
  background: #14B1BB;
}
.member [data-action=stop], .member [data-action=start] {
  display: none;
}

.stats {
  background: url(../img/newimgalcos/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 5rem;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 16, 30, 0.9);
  z-index: 1;
}
.stats .container .stats__wrapper {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media screen and (min-width: 980px) {
  .stats .container .stats__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
.stats .container .stats__wrapper--item .counter {
  transition: 0.5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 270px;
  color: #ffffff;
}
.stats .container .stats__wrapper--item .counter i {
  font-size: 6rem;
}
.stats .container .stats__wrapper--item .counter h3 {
  padding: 1rem 0;
  font-size: 2.2rem;
  font-weight: 600;
}
.stats .container .stats__wrapper--item .counter h2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.stats .container .stats__wrapper--item .counter::before {
  content: "";
  border-top: 2px solid rgb(50, 68, 82);
  border-left: 2px solid rgb(50, 68, 82);
  border-right: 2px solid rgb(50, 68, 82);
  height: 8rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.5s ease;
}
.stats .container .stats__wrapper--item .counter::after {
  content: "";
  border-bottom: 2px solid rgb(50, 68, 82);
  border-left: 2px solid rgb(50, 68, 82);
  border-right: 2px solid rgb(50, 68, 82);
  height: 8rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  transition: 0.5s ease;
}
.stats .container .stats__wrapper--item:hover .counter {
  background-color: #14B1BB;
  transition: 0.5s ease;
}
.stats .container .stats__wrapper--item:hover .counter::before {
  border-top: #14B1BB;
  border-left: #14B1BB;
  border-right: #14B1BB;
  transition: 0.5s ease;
}
.stats .container .stats__wrapper--item:hover .counter::after {
  border-bottom: #14B1BB;
  border-left: #14B1BB;
  border-right: #14B1BB;
  transition: 0.5s ease;
}

.prices {
  padding-bottom: 10rem;
}
.prices__title {
  text-align: center;
}
.prices__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .prices__title h2 {
    font-size: 4rem;
  }
}
.prices__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.prices__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .prices__title p br {
    display: block;
  }
}
.prices__cardWrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media screen and (min-width: 980px) {
  .prices__cardWrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.prices__cardWrap--card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.prices__cardWrap--card i {
  font-size: 3.5rem;
  color: #14B1BB;
  padding-top: 3rem;
}
.prices__cardWrap--card .tag {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.prices__cardWrap--card .tag p {
  position: absolute;
  top: 22px;
  right: -34px;
  transform: rotate(45deg);
  background-color: #14B1BB;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #ffffff;
  width: 15rem;
}
.prices__cardWrap--card h3 {
  padding: 1.5rem 0;
  width: 100%;
  background-color: #14B1BB;
  color: #ffffff;
  margin-top: 2rem;
}
.prices__cardWrap--card p {
  color: #14B1BB;
  padding: 2rem 0;
  font-size: 1.9rem;
}
.prices__cardWrap--card h2 {
  font-weight: 600;
  padding-bottom: 3.5rem;
}
.prices__cardWrap--card h2 span {
  font-size: 3rem;
  font-weight: 700;
}
.prices__cardWrap--card ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
}
.prices__cardWrap--card ul li {
  font-size: 1.7rem;
}
.prices__cardWrap--card a {
  border: 1px solid #14B1BB;
  width: 16rem;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  color: #14B1BB;
  transition: 0.5s ease;
}
.prices__cardWrap--card a:hover {
  background-color: #14B1BB;
  color: #ffffff;
  transition: 0.5s ease;
}

.getIntro {
  padding-bottom: 7rem;
}
.getIntro__wrapper {
  height: 280px;
  background: url(../img/newimgalcos/getintro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .getIntro__wrapper {
    height: 600px;
  }
}
.getIntro__wrapper h2 {
  color: #ffffff;
  z-index: 999;
  padding-top: 15rem;
}
.getIntro__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 16, 30, 0.9);
  z-index: 1;
}
.getIntro__wrapper .video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.getIntro__wrapper .video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: #14B1BB;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.getIntro__wrapper .video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background: #14B1BB;
  border-radius: 50%;
  transition: all 200ms;
}
.getIntro__wrapper .video-play-button:hover:after {
  background-color: #0f858d;
}
.getIntro__wrapper .video-play-button i {
  z-index: 3;
  position: relative;
  text-align: center;
  left: 3px;
  top: 6px;
  font-size: 3rem;
  color: #ffffff;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.homeFaq {
  padding-bottom: 10rem;
}
.homeFaq__title {
  text-align: center;
}
.homeFaq__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .homeFaq__title h2 {
    font-size: 4rem;
  }
}
.homeFaq__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.homeFaq__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .homeFaq__title p br {
    display: block;
  }
}
.homeFaq .homeFaq__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media screen and (min-width: 980px) {
  .homeFaq .homeFaq__content {
    grid-template-columns: 1fr 1fr;
  }
}
.homeFaq .homeFaq__content img {
  width: 443px;
  height: 44;
}
.homeFaq .homeFaq__content .homeFaq__dropdown {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 3rem;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item p {
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition-duration: 500ms;
  font-size: 1.9rem;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item p.open {
  max-height: 50rem;
  padding: 0.75rem 3rem;
  transition-duration: 500ms;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  font-size: 1.45rem;
  background-color: rgb(252, 252, 243);
  transition: 0.5s ease;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4 i {
  font-size: 1rem;
  color: #8C8C8C;
  transition: 0.5s ease;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4 i.open {
  transform: rotate(180deg);
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4:hover {
  background-color: #14B1BB;
  color: #ffffff;
  transition: 0.5s ease;
  cursor: pointer;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4:hover i {
  color: #ffffff;
  transition: 0.5s ease;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4.open {
  background-color: #14B1BB;
  color: #ffffff;
  transition: 0.5s ease;
  cursor: pointer;
}
.homeFaq .homeFaq__content .homeFaq__dropdown .homeFaq__item h4.open i {
  color: #ffffff;
  transition: 0.5s ease;
}

.logos {
  background-color: #14B1BB;
}
.logos .logos__slider {
  padding: 4rem 0;
}
@media screen and (min-width: 980px) {
  .logos .logos__slider img {
    width: 224px;
    height: 130px;
  }
}
.logos .tns-outer button {
  display: none;
}

.clients {
  padding-bottom: 14rem;
}
.clients__title {
  text-align: center;
}
.clients__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .clients__title h2 {
    font-size: 4rem;
  }
}
.clients__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.clients__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .clients__title p br {
    display: block;
  }
}
.clients .clients__slider--item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}
@media screen and (min-width: 980px) {
  .clients .clients__slider--item {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.clients .clients__slider--item img {
  width: 443px;
}
.clients .clients__slider--item-text {
  padding-top: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 980px) {
  .clients .clients__slider--item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-right: 13rem;
  }
}
.clients .clients__slider--item-text .rating {
  color: #14B1BB;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.clients .clients__slider--item-text .rating .gray {
  color: #8C8C8C;
}
.clients .clients__slider--item-text .rating p {
  font-style: italic;
  font-weight: 600;
  color: #14B1BB;
}
.clients .clients__slider--item-text p {
  font-size: 1.7rem;
  font-style: italic;
  color: #7a7a7a;
  padding-bottom: 1rem;
}
.clients .client {
  display: flex;
  gap: 1.5rem;
}
.clients .client img {
  width: 59px;
}
.clients .client ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}
.clients .client ul li {
  font-size: 1.5rem;
  font-weight: 600;
}
.clients .client ul li:last-child {
  color: #14B1BB;
}
.clients .tns-outer button {
  display: none;
}

.contact {
  padding-bottom: 7rem;
}
.contact__title {
  text-align: center;
}
.contact__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .contact__title h2 {
    font-size: 4rem;
  }
}
.contact__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.contact__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .contact__title p br {
    display: block;
  }
}
@media screen and (min-width: 980px) {
  .contact .contact__wrapper .contact__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
  }
}
.contact .contact__wrapper .contact__content form {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 980px) {
  .contact .contact__wrapper .contact__content form {
    width: 100%;
    padding: 0 6rem;
  }
  .contact .contact__wrapper .contact__content form input {
    width: 100%;
  }
}
.contact .contact__wrapper .contact__content form div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 980px) {
  .contact .contact__wrapper .contact__content form div {
    flex-direction: row;
  }
}
.contact .contact__wrapper .contact__content form input, .contact .contact__wrapper .contact__content form textarea {
  padding: 1.5rem 2rem;
  background-color: #14B1BB;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  caret-color: #ffffff;
}
.contact .contact__wrapper .contact__content form input::-moz-placeholder, .contact .contact__wrapper .contact__content form textarea::-moz-placeholder {
  color: #ffffff;
  font-family: "Livvic";
}
.contact .contact__wrapper .contact__content form input::placeholder, .contact .contact__wrapper .contact__content form textarea::placeholder {
  color: #ffffff;
  font-family: "Livvic";
}
.contact .contact__wrapper .contact__content form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 134px;
}
.contact .contact__wrapper .contact__content form a {
  background-color: #14B1BB;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 1.5rem 2rem;
  text-align: center;
  font-weight: 600;
  transition: 0.5s ease;
}
.contact .contact__wrapper .contact__content form a:hover {
  background-color: #0A0A0A;
  transition: 0.5s ease;
}
.contact__details__cardWrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__details__cardWrap--card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-left: 2px solid #14B1BB;
}
@media screen and (min-width: 980px) {
  .contact__details__cardWrap--card {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem 2rem 2rem;
  }
}
.contact__details__cardWrap--card i {
  color: #14B1BB;
  font-size: 3.5rem;
}
.contact__details__cardWrap--card h2 {
  font-size: 1.9rem;
  font-weight: 600;
  padding: 1.5rem 0;
}
@media screen and (min-width: 980px) {
  .contact__details__cardWrap--card h2 {
    padding: 0.5rem 0;
  }
}
.contact__details__cardWrap--card p {
  font-size: 1.7rem;
  color: #7a7a7a;
}

.updates {
  padding-bottom: 5rem;
}
.updates__title {
  text-align: center;
}
.updates__title h2 {
  padding-bottom: 3rem;
}
@media screen and (min-width: 980px) {
  .updates__title h2 {
    font-size: 4rem;
  }
}
.updates__title p {
  font-size: 1.9rem;
  padding: 0 2rem 5rem 2rem;
  color: #7a7a7a;
}
.updates__title p br {
  display: none;
}
@media screen and (min-width: 980px) {
  .updates__title p br {
    display: block;
  }
}
.updates .updates__slider .slider__item {
  position: relative;
  padding: 0rem 1rem;
  overflow: hidden;
}
.updates .updates__slider .slider__item:hover .mask {
  scale: 1;
  transition: 0.5s ease;
}
@media screen and (min-width: 980px) {
  .updates .updates__slider .slider__item .mask {
    position: absolute;
    background-color: rgba(2, 16, 30, 0.5);
    width: 449px;
    height: 292.39px;
    width: 344px;
    top: 0;
    left: 1rem;
    scale: 0;
    transition: 0.5s ease;
  }
}
.updates .updates__slider .slider__item img {
  width: 449px;
  transition: 0.5s ease;
}
@media screen and (min-width: 980px) {
  .updates .updates__slider .slider__item img {
    width: 344px;
    height: 292.39px;
  }
}
.updates .updates__slider .slider__item .tag {
  padding: 1rem;
  position: absolute;
  top: 10px;
  left: 72px;
  background-color: #14B1BB;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 500;
}
.updates .updates__slider .slider__item .itemText {
  padding: 2rem;
}
.updates .updates__slider .slider__item .itemText h2 {
  font-size: 2rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.updates .updates__slider .slider__item .itemText h2:hover {
  color: #14B1BB;
  cursor: pointer;
  transition: 0.5s ease;
}
.updates .updates__slider .slider__item .itemText p {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}
.updates .updates__slider .slider__item .itemText a {
  padding: 1rem 2rem;
  color: #14B1BB;
  background-color: rgba(20, 177, 187, 0.0784313725);
  border-radius: 0.5rem;
  transition: 0.5s ease;
}
.updates .updates__slider .slider__item .itemText a:hover {
  color: #ffffff;
  background-color: #14B1BB;
  transition: 0.5s ease;
}
.updates .tns-outer button {
  display: none;
}/*# sourceMappingURL=main.css.map */