/*colors*/
/*breakpoints*/
@font-face {
  font-family: Livvicthin;
  src: url(../Livvic/Livvic-Thin.ttf);
}
@font-face {
  font-family: LivvicExtraLight;
  src: url(../Livvic/Livvic-ExtraLight.ttf);
}
@font-face {
  font-family: LivvicLight;
  src: url(../Livvic/Livvic-Light.ttf);
}
@font-face {
  font-family: LivvicMedium;
  src: url(../Livvic/Livvic-Medium.ttf);
}
@font-face {
  font-family: LivvicBold;
  src: url(../Livvic/Livvic-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #0A0A0A;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Livvic", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #0A0A0A;
  overflow-x: hidden;
}
body .footer {
  margin-top: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.btn {
  background: 14B1BB;
  background-image: linear-gradient(to bottom, 14B1BB, 14B1BB);
  border-radius: 50px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-size: 18px;
  background: #14B1BB;
  padding: 15px 25px;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
}
.btn.bg--light {
  color: #14B1BB;
  background: #ffffff;
  border-color: #14B1BB;
  transition: 0.5s ease;
}
.btn.bg--light:hover {
  background: #14B1BB;
  color: #ffffff;
  transition: 0.5s ease;
}
.btn.bg--primary {
  color: #ffffff;
  background-color: #14B1BB;
  transition: 0.5s ease;
}
.btn.bg--primary:hover {
  background: #38898d;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/slider3.jpg");
}
.footer_wrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 760px) {
  .footer_wrapper {
    flex-direction: row;
  }
}
.footer .column {
  margin: 5rem 1rem 1rem 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: LivvicLight;
  font-weight: 500;
}
@media screen and (min-width: 760px) {
  .footer .column {
    flex-wrap: wrap;
    width: 50%;
  }
  .footer .column:nth-of-type(2) {
    text-align: left;
  }
  .footer .column:nth-of-type(3) .contact_icons {
    margin-bottom: 5rem 0rem;
  }
  .footer .column:nth-of-type(3) .contact_icons .contact_iconings {
    display: flex;
    flex-direction: row;
  }
  .footer .column:nth-of-type(3) .contact_icons .contact_iconings i {
    margin-right: 1rem;
  }
}
.footer .column .footer_text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #ffffff;
}
.footer .column .footer_text2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
}
.footer .column h4 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: LivvicMedium;
  letter-spacing: 1px;
}
.footer .column .socialistic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .column .socialistic i {
  font-size: 2rem;
  color: #ffffff;
  background-color: #38898d;
}
.footer .column .socialistic i:nth-of-type(1) {
  padding: 1rem 1.5rem;
}
.footer .column .socialistic i:nth-of-type(2) {
  padding: 1rem 1.1rem;
  margin-left: 1rem;
}
.footer .column .socialistic i:nth-of-type(3) {
  padding: 1rem 1.2rem;
  margin-left: 1rem;
}
.footer .branding {
  font-family: LivvicBold;
  font-size: 40px;
  color: #14B1BB;
  transition: 0.3s ease;
  align-items: center;
}
.footer .branding p {
  align-items: center;
}
.footer .branding .colorchanger {
  transition: 0.3s ease;
  color: #ffffff;
}
.footer .contact_icons .contact_iconings {
  margin-bottom: 1rem;
}
.footer .contact_icons i {
  color: #ffffff;
  font-size: 2rem;
}
.footer .contact_icons p {
  color: white;
  font-size: 1.9rem;
}
.footer a {
  color: white;
  font-size: 1.9rem;
  font-family: LivvicExtralight;
  font-weight: 600;
}
.footer .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer input {
  border: 1px solid #ffffff;
  align-items: baseline;
  padding: 1rem 2rem;
  background: transparent;
  width: 100%;
  font-family: LivvicLight;
  font-size: 1.9rem;
  color: white;
}
.footer .submit {
  display: flex;
  justify-content: baseline;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: baseline;
  font-family: LivvicBold;
  margin-bottom: 5rem;
}
.footer .submit input {
  border-color: #14B1BB;
  margin-top: 4rem;
  width: auto;
  border-radius: 5px;
  font-size: 1.7rem;
}
.footer .submit input:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #14B1BB;
}
.footer .footer_footer {
  border-top: 1px solid #8C8C8C;
  width: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: LivvicLight;
  color: white;
}
.footer .footer_footer p {
  margin-top: 2rem;
}
.footer .footer_footer .home_contact {
  display: flex;
  flex-direction: row;
}
.footer .footer_footer .home_contact a {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-family: LivvicLight;
  font-weight: 500;
  margin-top: 1rem;
}

.contact_summary {
  display: none;
  background-color: #14B1BB;
}
@media screen and (min-width: 760px) {
  .contact_summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 13.6px;
  }
}
.contact_summary .address {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: LivvicMedium;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.contact_summary .socials {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
}

.header {
  width: 100%;
  background: #ffffff;
  z-index: 999;
  transition: 0.3s ease;
}
.header .branding {
  font-family: LivvicBold;
  font-size: 40px;
  color: #14B1BB;
  transition: 0.3s ease;
}
.header .branding .colorchanger {
  transition: 0.3s ease;
  color: #0A0A0A;
}
@media screen and (min-width: 760px) {
  .header {
    transition: 0.3s ease;
  }
  .header.blue {
    background-color: hsla(0, 0%, 0%, 0.733);
    position: fixed;
    top: 0;
    transition: 0.3s ease;
  }
  .header.blue .branding {
    color: #14B1BB;
    opacity: 1;
  }
  .header.blue .branding .colorchanger {
    color: #ffffff;
  }
  .header.blue .header_nav_links a {
    color: white;
  }
}
.header .kamote {
  pointer-events: none;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #0A0A0A;
  transition: 0.5s ease-in;
  z-index: -1;
}
.header .kamote.open {
  position: fixed;
  opacity: 0.8;
  transition: 0.5s ease-out;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 760px) {
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
  }
}
.header_wrapper .branding {
  z-index: -2;
}
.header_nav {
  position: fixed;
  right: -80rem;
  height: 100vh;
  top: 0.1px;
  width: 70%;
  transition: 0.5s ease;
  font-family: LivvicMedium;
  font-size: 17px;
  background-color: white;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .header_nav {
    background-color: transparent;
    font-family: LivvicLight;
    align-items: center;
    height: 9vh;
    position: unset;
    width: 100%;
  }
}
.header_nav_links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 20px;
  padding-top: 10px;
}
.header_nav_links img {
  margin-bottom: 2rem;
}
.header_nav_links i {
  display: none;
}
@media screen and (min-width: 760px) {
  .header_nav_links {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    font-weight: 600;
    position: unset;
    justify-content: space-between;
    gap: 20px;
  }
  .header_nav_links .looblogo {
    display: none;
  }
  .header_nav_links i {
    display: block;
  }
}
.header_nav_links a {
  margin: 2rem;
}
@media screen and (min-width: 760px) {
  .header_nav_links a {
    margin: 2rem 2rem 0rem 0rem;
  }
}
.header_nav_links a:nth-child(3):after {
  content: "+";
  position: absolute;
  left: 200px;
}
@media screen and (min-width: 760px) {
  .header_nav_links a:nth-child(3):after {
    content: "";
  }
}
.header_nav_links:nth-child(3):hover_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_nav_links_page {
  display: none;
}
.header_nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
.header_nav.open .body {
  filter: blur(5px);
}
.header .burgelo {
  position: fixed;
  left: 44rem;
}
.header .burgelo span {
  width: 2.3rem;
  height: 0.4rem;
  background-color: #0A0A0A;
  display: block;
  border-radius: 5rem;
  transition: 0.4s ease;
}
.header .burgelo span:nth-child(2) {
  margin: 0.2rem 0;
}
@media screen and (min-width: 760px) {
  .header .burgelo span {
    display: none;
  }
}
.header .burgelo .span {
  width: 1rem;
  height: 0.1rem;
  background-color: #0A0A0A;
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header .burgelo .span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .burgelo.open span:first-child {
  transform: translate(0, 11px) rotate(225deg);
  transition: 0.5s ease;
}
.header .burgelo.open span:nth-child(2) {
  opacity: 0;
}
.header .burgelo.open span:last-child {
  transform: translate(0, -1px) rotate(-225deg);
  transition: 0.5s ease;
}

.golez {
  display: flex;
  justify-content: center;
  margin: 5rem;
}
.golez_content .picture {
  display: flex;
  justify-content: center;
}
.golez_content .picture img {
  width: 40rem;
}
.golez_content .dropdown .faq {
  margin: 0;
}
.golez_content .dropdown .faq .button {
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  width: 43rem;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(182, 182, 182, 0.397);
}
.golez_content .dropdown .faq .pannel {
  padding: 0.2rem 2.5rem 2rem;
}
.golez_content:nth-child(even) .picture {
  position: absolute;
  top: 200rem;
  right: 0;
  display: none;
}
.golez_content:nth-child(even) .dropdown {
  position: relative;
  top: 10rem;
}
.golez_content:nth-child(odd) .dropdown {
  position: relative;
  top: 3rem;
}

.homeBanner .homeBanner__item {
  position: relative;
  overflow: hidden;
}
.homeBanner .homeBanner__item #firstban {
  height: 35rem;
  z-index: -1;
  position: absolute;
  left: -20rem;
}
.homeBanner .homeBanner__item--text {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.homeBanner .homeBanner__item #secban {
  height: 35rem;
  z-index: -1;
  position: absolute;
  left: -27rem;
}

.feature {
  padding-bottom: 5rem;
}
.feature .feature__wrapper {
  text-align: center;
}
.feature .feature__wrapper .title-text {
  font-size: 1.3rem;
  padding: 0 1.5rem;
}
.feature .feature__wrapper .feature__cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 28rem;
  height: 26rem;
  perspective: 1000px;
}
.flip-card i {
  font-size: 4rem;
}
.flip-card h3:hover {
  color: black;
  transition: 0.5s ease;
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: cyan;
  color: white;
}
.flip-card-back {
  background-color: rgb(0, 196, 196);
  color: white;
  transform: rotateX(180deg);
}
.flip-card-text {
  padding: 2rem;
}

.different {
  padding-bottom: 8rem;
}
.different .meet__slider {
  padding-bottom: 3rem;
}
.different .meet__slider img {
  height: 20rem;
}
.different__why .why__wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.different__why-item {
  font-size: 1.2rem;
}
.different__why-item i {
  font-size: 2rem;
  color: rgb(0, 226, 226);
}
.different__why-item p {
  margin: 0;
}
.different__why-item h3 {
  margin: 5px 0px;
}
.different .progress {
  padding-top: 4rem;
  width: 100%;
  max-width: 35rem;
}
.different .progress-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}
.different .progress-bar {
  width: 100%;
  background-color: #d8d8d8;
  height: 0.5rem;
}
.different .progress-fill {
  height: 100%;
  width: 25rem;
  background-color: #00a7bd;
}

.service__wrapper .service__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.service__wrapper .service__cards .service__card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 25rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.service__wrapper .service__cards .service__card .card__wrap {
  padding: 3rem 1rem;
  z-index: 999;
}
.service__wrapper .service__cards .service__card .card__wrap i {
  font-size: 3.5rem;
}
.service__wrapper .service__cards .service__card .card__wrap h3 {
  font-size: 1.6rem;
}
.service__wrapper .service__cards .service__card .card__wrap p {
  font-size: 1.5rem;
  margin: 0 0 3rem 0;
}
.service__wrapper .service__cards .service__card::before {
  width: 2px;
  height: 100%;
  background-color: lightblue;
  content: "";
  position: absolute;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover {
  color: white;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.service__wrapper .service__cards .service__card:hover a {
  color: white;
  transition: 0.5s ease;
}
.service__title {
  text-align: center;
}

.portfolio_tabs ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.portfolio_tabs ul li {
  list-style: none;
  border: gray 1px solid;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}
.portfolio_tabs ul li:hover {
  background-color: lightblue;
  color: white;
  transition: 0.3s ease;
}
.portfolio_tabs ul li.active {
  background-color: lightblue;
  color: white;
}
.portfolio_content_item {
  display: none;
}
.portfolio_content_item.active {
  display: block;
}
.portfolio_title {
  text-align: center;
}

.team_banner {
  background-image: url("../img/sld.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 5.3rem;
}
.team_banner .container {
  background-color: rgba(0, 0, 0, 0.5176470588);
  max-width: 100vw !important;
}
.team_banner_wrapper .team_text {
  padding: 2rem 0;
  color: #ffffff;
  text-align: center;
  z-index: 10;
  display: block;
  place-content: center;
}
.team_banner_wrapper .team_text h3 {
  font-weight: 400;
  font-size: 1.7rem;
}
.team_member .team_text {
  font-size: 2rem;
  text-align: center;
}
.team_member .team_text h2 {
  margin: 2rem;
  font-size: 2.5rem;
}
.team_member .team_cards_container {
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  gap: 3rem;
}
.team_member .team_cards_container .team_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  box-shadow: 2px 4px 7px -2px gray;
}
.team_member .team_cards_container .team_card img {
  width: 100%;
  margin: 0;
}
.team_member .team_cards_container .team_card .card_details {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  margin-top: -6px;
}
.team_member .team_cards_container .team_card .card_details .socials {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.team_member .team_cards_container .team_card .card_details .socials .fa-brands {
  padding: 1rem;
  background-color: #14B1BB;
  display: inline-block;
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  width: 4rem;
  place-content: center;
  text-align: center;
}
.team_member .team_cards_container .team_card .card_details .text_team {
  text-align: left;
}
.team_member .team_cards_container .team_card .card_details .text_team h3 {
  font-weight: 600;
  font-size: 2.3rem;
}
.team_member .team_cards_container .team_card .card_details .text_team h4 {
  font-weight: 300;
  font-size: 1.9rem;
}/*# sourceMappingURL=main.css.map */