* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.golez {
    max-width: 450px;
    margin: 50px auto;

    &_container_content {
        &:first-child {
            margin-bottom: 20rem;
        }

        &:last-child {
            img {
                margin-top: 20px;
            }
        }

        .picture {
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;

            img {
                width: 450px;
            }
        }

        .content {
            margin-bottom: 40px;
    
            .button {
                background: $clr-light;
                padding: 20px 29px;
                color: black;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                position: relative;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin-bottom: -2rem;
    
                i {
                  font-size: 10px;
                  position: absolute;
                  top: 40%;
                  right: 20px;  
                }
            }
    
            .button:hover {
                background: $clr-primary;
                color: $clr-light;
            }
    
            .button.active {
                background: $clr-primary;
                color: $clr-light;
    
                i {
                    transform: rotate(180deg); 
                }
            }
    
            .button.active + .pannel {
                display: block;
                transition: 0.4s ease;
            }
    
            .pannel {
                background: $clr-light;
                display: none;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin-bottom: -2rem;
    
                p {
                    font-size: 19px;
                    line-height: 30px;
                    padding: 28px 25px 15px 15px;
                    color: #454545;
                }
            }
        }
    }
}