.golez {
    display: flex;
    justify-content: center;
    margin: 5rem; 

    &_content {
        .picture {
            display: flex;
            justify-content: center;

            img {
                width: 40rem;
            }
        }

        .dropdown {
            .faq {
                margin: 0;

                .button {
                    background-color: $clr-light;
                    color: $clr-dark;
                    cursor: pointer;
                    font-size: 1.2rem;
                    width: 40rem;
                    padding: 2rem 2.5rem;
                    border: none;
                    outline: none;
                    transition: 0.4s ease;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    box-shadow: 3px 3px 3px 3px rgba(170, 169, 169, 0.13);
                }

                .button.active {
                    background-color: $clr-primary;
                    color: white;
                }

                .pannel {
                    margin-bottom: 2rem;
                    padding: 2rem 2.5rem 2rem;
                    background-color: white;
                    box-shadow: 3px 3px 3px 3px rgba(170, 169, 169, 0.13);
                }
            }
        }

        &:nth-child(even) {
            .picture {
                position: absolute;
                top: 200rem;
                right: 0;
                display: none;
            }

            .dropdown {
                position: relative;
                top: 10rem;
            }
        }

        &:nth-child(odd) {
            .dropdown {
                position: relative;
                top: 3rem;
            }
        }
    }
}   
